<div class="container-fluid">
    <a class="img-responsive" href=""><img src="img/lion.png"></a>
    <a class="img-responsive" href=""><img src="img/DLtxt.png"></a>
    <a class="img-responsive" href=""><img src="img/lion.png"></a>
</div>