<div class="navbar me-auto navbar-dark">
    <div class="container-fluid">
        <div class="btn-group" role="group" aria-label="Basic example">
            <NavLink class="nav-link" href="stats">
                <button class="btn btn-outline-dark" type="button">NEWS</button>
            </NavLink>
            <NavLink class="nav-link" href="roster">
                <button class="btn btn-outline-dark" type="button">VIDEO</button>
            </NavLink>  
            <NavLink class="nav-link" href="roster">
                <button class="btn btn-outline-dark" type="button">PHOTOS</button>
            </NavLink>
            <NavLink class="nav-link" href="roster">
                <button class="btn btn-outline-dark" type="button">SCHEDULE</button>
            </NavLink>
            <NavLink class="nav-link" href="roster">
                <button class="btn btn-outline-dark" type="button">TEAM</button>
            </NavLink>
            <NavLink class="nav-link" href="roster">
                <button class="btn btn-outline-dark" type="button">FORD FIELD</button>
            </NavLink>
            <NavLink class="nav-link" href="roster">
                <button class="btn btn-outline-dark" type="button">DRAFT</button>
            </NavLink>
        </div>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void MainNavToggle()
    {

    }
}
