@inherits LayoutComponentBase

<PageTitle>LionsApp</PageTitle>

<div class="page">

    
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="topnav">
            <div class="container-fluid">
                <a class="img-responsive" href=""><img src="img/DLtxt.png"></a>
                <a class="img-responsive" href=""><img src="img/lion.png"></a>
            </div>
        </div>

        <div class="top-row px-4">
            @* Put main nav menu here *@
            <MainNav />
        </div>
        
        <article class="content px-4">
            @Body
        </article>  
    </main>

    <div class="footer">
        <p>Footer</p>
    </div>
</div>
