@page "/administration"

<PageTitle>Transactions</PageTitle>

<h1>Administration</h1>

<table class="table">
    <thead>
        <tr>
            <th>Ownership</th>
            <tbody>
            @* For loop for the number of employees in each department under Administration
                
                for (number of employees tagged with Ownership, insert name, insert title)
                <tr>
                    <td>Name</td>
                    <td>Title</td>
                </tr>
            *@ 
            </tbody>
            <th>Executive Management</th>
            <tbody></tbody>
            <th>Executive Assistants</th>
            <tbody></tbody>
            <th>Player Personnel</th>
            <tbody></tbody>
            <th>Football Administration</th>
            <tbody></tbody>
            <th>Medical Staff</th>
            <tbody></tbody>
            <th>Player Wellness</th>
            <tbody></tbody>
            <th>Player Performance</th>
            <tbody></tbody>
            <th>Team Operations</th>
            <tbody></tbody>
            <th>Equipment</th>
            <tbody></tbody>
            <th>Video Operations</th>
            <tbody></tbody>
            <th>Football Information</th>
            <tbody></tbody>
            <th>Security</th>
            <tbody></tbody>
            <th>Groundskeeping</th>
            <tbody></tbody>
            <th>People Team</th>
            <tbody></tbody>
            <th>Finance</th>
            <tbody></tbody>
            <th>Office Support</th>
            <tbody></tbody>
            <th>Facilities</th>
            <tbody></tbody>
            <th>Information Technology</th>
            <tbody></tbody>
            <th>Community Relations</th>
            <tbody></tbody>
            <th>Corporate Communications</th>
            <tbody></tbody>
            <th>Football Communications</th>
            <tbody></tbody>
            <th>New Media</th>
            <tbody></tbody>
        </tr>
    </thead>
</table>

<h1>Ford Field Staff</h1>

<table class="table">
    <thead>
        <tr>
            <th>Corporate Partnerships</th>
            <tbody></tbody>
            <th>Ticket Sales</th>
            <tbody></tbody>
            <th>Ticket Operations</th>
            <tbody></tbody>
            <th>Strategy & Analytics</th>
            <tbody></tbody>
            <th>Events</th>
            <tbody></tbody>
            <th>Finance</th>
            <tbody></tbody>
            <th>Marketing</th>
            <tbody></tbody>
            <th>Administration</th>
            <tbody></tbody>
            <th>Football Education</th>
            <tbody></tbody>
            <th>Cheerleading & Entertainment</th>
            <tbody></tbody>
            <th>Technical Services</th>
            <tbody></tbody>
            <th>Operations</th>
            <tbody></tbody>
            <th>Security</th>
            <tbody></tbody>
        </tr>
    </thead>
</table>